<p>
  <strong>history:</strong>
  <%= @engineer.history %>
</p>

<p>
  <strong>product:</strong>
  <%= @engineer.product %>
</p>

<%= link_to 'Edit', edit_engineer_path(@engineer) %> |
<%= link_to 'Back', engineers_path %>
